.animals { color: Goldenrod }
.bodyparts { color: Orange }
.directions { color: Violet }
.distinct { color: DarkRed }
.food { color: LimeGreen }
.hitchcock { color: DarkBlue }
.numbers { color: Turquoise }
.objects { color: Gold }
.people { color: Blue }
.places { color: Coral }
.reasons { color: Gray }
.relations { color: DeepPink }
.sayings { color: Sienna }
.times { color: Teal }
.weapons { color: Red }
.which { color: Purple }
.verse_ref { color: DodgerBlue }
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 4px;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}