$def with (divisions, books, categories, title)
$var title: $title
<h1>$title</h1>
$def generate_table(books, categories):
    <div class="w3-accordion w3-light-grey">
    $for entry in books:
        <button onclick="myFunction('$entry')" class="w3-btn-block w3-left-align">$entry</button>
        <div id="$entry" class="w3-accordion-content">
        <a href="${entry}/${entry}">$entry</a>
        $for row in categories:
            <a class="$row" href="${entry}/${row}">$row</a>
        </div>
    </div>
<div class="w3-container">
<h2>Individual Books</h2>
$:generate_table(books, categories)\
<h2>Combined Books by Divisions</h2>
$:generate_table(divisions, categories)\
</div>
<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>\